*{
    margin: 0%;
    padding: 0%;
 }
 .MenuStyle {
    width: 100%;
    height: 75px;
    background: #6ab04c;
    color: white;
 }
 .MenuStyle ul {
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 .MenuStyle ul li {
    list-style: none;
    text-transform: uppercase;
    color: white;
 }
 .MenuStyle ul li a {
    color: white;
    text-decoration: none;
 }
 